<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <script type="text/javascript" defer src="/styles/main.js"></script>
</head>
<body>
<!--    <a href="greeting">Greeting</a>-->
<header class="header">
    <div class="menu">
        <div class="menu_element"><a href="/account">Account</a></div>
        <div class="menu_element"><a href="/driver">Driver</a></div>
        <div class="menu_element"><a href="/logcenter">Logistics Center</a></div>
        <div class="menu_element"><a href="/operator">Operator</a></div>
        <div class="menu_element"><a href="/product">Product</a></div>
        <div class="menu_element"><a href="/waybill">Waybill</a></div>
    </div>
    <div class="title">Waybill</div>
    <!-- ---------------------------------------CREATE------------------------------------------------>
    <div class="block_flex">
        <div class="block">
            <div class="block_title" id="block_title">
                Create
            </div>
            <div class="block_form" id="block_form">
                <form method="post" action="/waybill/create">
                    <label>
                        DATE OF DELIVERY:
                        <br>
                        <input name="dateOfDelivery" type="text" required/>
                    </label>
                    <br>
                    <label>
                        DATE OF SHIPMENT:
                        <br>
                        <input name="dateOfShipment" type="text" required />
                    </label>
                    <label>
                        DRIVER ID:
                        <br>
                        <input name="driverId" type="number" required />
                    </label>
                    <label>
                        OPERATOR ID:
                        <br>
                        <input name="operatorId" type="number" required />
                    </label>
                    <div class="ok">
                        <input type="submit" name="enter" value="CREATE"/>
                    </div>
                </form>
            </div>
        </div>
        <!-- ---------------------------------------READ------------------------------------------------>
        <div class="block">
            <div class="block_title">
                Read
            </div>
            <div class="block_form" id="block_form">
                <form method="post" action="/waybill/selectById">
                    <label>
                        BY ID:
                        <br>
                        <input name="id" type="number" required/>
                    </label>
                    <br>
                    <div class="ok">
                        <input type="submit" name="enter" value="SEARCH"/>
                    </div>
                </form>
                <form method="post" action="/waybill/selectByDateOfDelivery">
                    <label>
                        BY DATE OF DELIVERY:
                        <br>
                        <input name="dateOfDelivery" type="text" />
                    </label>
                    <br>
                    <div class="ok">
                        <input type="submit" name="enter" value="SEARCH"/>
                    </div>
                </form>
                <form method="post" action="/waybill/selectByDateOfShipment">
                    <label>
                        BY DATE OF SHIPMENT:
                        <br>
                        <input name="dateOfShipment" type="text" />
                    </label>
                    <br>
                    <div class="ok">
                        <input type="submit" name="enter" value="SEARCH"/>
                    </div>
                </form>
                <form method="post" action="/waybill/selectByDriverId">
                    <label>
                        BY DRIVER ID:
                        <br>
                        <input name="driverId" type="number" />
                    </label>
                    <br>
                    <div class="ok">
                        <input type="submit" name="enter" value="SEARCH"/>
                    </div>
                </form>
                <form method="post" action="/waybill/selectByOperatorId">
                    <label>
                        BY OPERATOR ID:
                        <br>
                        <input name="operatorId" type="number" />
                    </label>
                    <br>
                    <div class="ok">
                        <input type="submit" name="enter" value="SEARCH"/>
                    </div>
                </form>
            </div>
        </div>
        <!-- ---------------------------------------UPDATE------------------------------------------------>
        <div class="block">
            <div class="block_title">
                Update
            </div>
            <div class="block_form" id="block_form">
                <form method="post" action="/waybill/update">
                    <label>
                        ID:
                        <br>
                        <input name="id" type="number" required/>
                    </label>
                    <br>
                    <label>
                        DATE OF DELIVERY:
                        <br>
                        <input name="dateOfDelivery" type="text" required />
                    </label>
                    <label>
                        DATE OF SHIPMENT:
                        <br>
                        <input name="dateOfShipment" type="text" required />
                    </label>
                    <br>
                    <label>
                        OPERATOR ID:
                        <br>
                        <input name="operatorId" type="number" required />
                    </label>
                    <label>
                        DRIVER ID:
                        <br>
                        <input name="driverId" type="number" required />
                    </label>
                    <div class="ok">
                        <input type="submit" name="enter" value="UPDATE"/>
                    </div>
                </form>
            </div>
        </div>
        <!-- ---------------------------------------DELETE------------------------------------------------>
        <div class="block">
            <div class="block_title">
                Delete
            </div>
            <div class="block_form" id="block_form">
                <form method="post" action="/waybill/delete">
                    <label>
                        BY ID:
                        <br>
                        <input name="id" type="number" required/>
                    </label>
                    <br>
                    <div class="ok">
                        <input type="submit" name="enter" value="DELETE"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="output_center">
        <div class="output_flex">
            <span class="output_element">id |</span>
            <span class="output_element">| dateOfDelivery |</span>
            <span class="output_element">| dateOfShipment |</span>
            <span class="output_element">| operator |</span>
            <span class="output_element">| driver</span>
        </div>
        <br/>
        {{#waybills}}
            <div class="output_flex">
                <span class="output_element">{{id}}</span>
                <span class="output_element">{{dateOfDelivery}}</span>
                <span class="output_element">{{dateOfShipment}}</span>
                <span class="output_element">{{operator}}</span>
                <span class="output_element">{{driver}}</span>
            </div>
        {{/waybills}}
    </div>
</header>
</body>
</html>