.header {
    max-width: 1600px;
    margin: 0 auto;
}
.menu {
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    box-shadow: 2px 2px 2px black;
    padding: 10px 50px;
    background:linear-gradient(#d2dae2 , #ffffff) ;
}
.menu_element {
    position: relative;
    font-size: 26px;
    font-family: Ariel;
}
.menu_element:hover{
    font-size: 27px;
}
a {
    text-decoration: none;
    color: black;
}
a:hover{
    color:gray;
}
.title{
    text-align:center;
    font-size:56px;
    border:2px solid black;
    box-shadow: 2px 2px 2px black;
    margin:10px 0px;
    background:linear-gradient(#d2dae2 , #ffffff) ;
}
.block{
    border:2px solid black;
    box-shadow: 2px 2px 2px black;
    margin:10px 0px;
    background:linear-gradient(#d2dae2 , #ffffff) ;

}
.block_title{
    font-size:26px;
    text-align: center;
}
.block_form{
    width:178px;
    margin:0 auto;
    font-size:18px;
    padding: 10px 10px;
}
.ok{
    margin: 0 auto;
    margin-top: 10px ;
    margin-bottom: 10px ;
}
input[type="submit"]{
    background:linear-gradient(#d2dae2 , #ffffff) ;
    min-width:177px;
    height: 30px;
}
input[type="submit"]:hover{
    background:linear-gradient( #ffffff,#4bccfa) ;
}
input{
    border: 2px solid black;
    background-color: aliceblue;
}
input:hover{
    background-color: white;

}